/*************************************
 +Entry
 *************************************/

.entry {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.entry a {
    color: #40a6b0;
    text-decoration: none;
}

.entry a:hover {
    color: #58B1C1;
    text-decoration: underline;
}

.entry .entryTitle_wrap {
    padding-right: 1em;
}
.entry .entryTitle_wrap table {
    width: 100%;
    border: 0px;
}

.entry .entryTitle_wrap .entryTitleTd {
    width: 100%;
}

.entry .entryTitle_wrap .entryAutorTd {
    width: 1px;
}

.entry .entryTitle {
    padding: 0em 1em;
}

.entry .entryTitle h1 a {
    text-decoration: none;
    font-size: 1em;
    color: #8AC11B;
    float: left;
    display: block;
    width: 100%;
}

.entry .entryTitle h2 a {
    text-decoration: none;
    font-size: 1em;
    color: #8AC11B;
    float: left;
}

.entry .entryTitle_wrap .autor {
    font-size: 0.7em;
    white-space: nowrap;
}

.entry .entryTitle_wrap .autorFirstEntry {
    padding-top: 1.3em;
}
    
.entry .entryTitle_wrap .autorSecondEntry {
    padding-top: 0.4em;
}

.entry .entryDateContainer {
    position: absolute;
    left: -45px;
    top: 0px;
    width: 60px;
    background-image: url(images/dateArrow.gif);
    background-repeat: no-repeat;
    background-position: 45px center;
    height: 40px;
}

.entry .entryDateBorders {
    border-top: 1px solid #494451;
    border-left: 1px solid #494451;
    border-bottom: 1px solid #494451;
    width: 43px;
    height: 42px;
    background-color: #2C2634;
}

.entry .entryDate {
    width: 44px;
    color: gray;
    height: 44px;
    text-align: center;
    background-image: url(images/dateBG.gif);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    top: -1px;
}

.entry .entryDateMonth {
    padding-top: 0.7em;
    font-size: 0.6em;
    font-family: Georgia;
    line-height: 0.8em;
}

.entry .entryDateDay {
    font-size: 1.5em;
    font-family: Georgia;
    line-height: 1em;
}

.entry .entryBody {
    clear: both;
    padding: 1em 2em;
    font-size: 0.8em;
    line-height: 1.6em;
}

.entry .entryBody img {
    margin: 0.5em;
    border: 1px solid #333;
}

.entry .entryBody a img {
    border: 1px solid #333;
}

.entry .entryBody ul {
    list-style-position: inside;
    list-style-type: square;
}

.entry .entryBody ol {
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}

.entry .entryBody li{
    margin-top: 1em;
}

.entry .entryBody li p{
    margin-left: 1em;
}

.entry .entryFooter {
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #AAAAAA;
    clear: both;
}

.entry .entryFooter .postInCategories a {
    color: #666;
}

.entry .entryFooter .postinfo {
    display: block;
    clear: both;
}