/*************************************
 +Sidebar
 *************************************/
 
 .rightSideBar {
     color: #FFFFFF;
     font-size: 0.8em;
}

.rightSideBar h2 {
    font-size: 1.2em;
}

.rightSideBar a {
    color: #40a6b0;
    text-decoration: none;
}