/*************************************
 +Sidebar
 *************************************/
 
 .rightSideBar {
     color: #FFFFFF;
     font-size: 0.8em;
}

.rightSideBar h2 {
    font-size: 1.2em;
}

.rightSideBar a {
    color: #40a6b0;
    text-decoration: none;
}

.rightSideBar .categoriesContainer {
    border: 1px solid #FFF;
    margin: 1em 0em;
}

.rightSideBar .categoriesContainer ul {
    
}

.rightSideBar .categoriesContainer li {
    
}

.rightSideBar .adsContainer {
    border: 1px solid #FFF;
    margin: 1em 0em;
}

.rightSideBar #calendar_wrap {
    border: 1px solid #FFF;
    margin: 1em 0em;
}

.rightSideBar #calendar_wrap table {
    font-size: 1em;
}

.rightSideBar #calendar_wrap td {
    text-align: center;
    background-color: #666666;
    font-size: 0.7em;
    padding: 0.2em;
}

.rightSideBar #calendar_wrap td.pad {
    background-color: #3D3746;
}

.rightSideBar #calendar_wrap td#today {
    background-color: #40A6B0;
}