/*************************************
 +General
 *************************************/

.clear {
    clear: both;
}

.wrapper {
    position: relative;
}

* html .wrapper {
    overflow: auto;
    height: 100%;
}

.contentWrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
}

.contentContainer {
    float: left;
    width: 72%;
    background-color: #ECECEC;
    background-image: url(images/contentTopBG.gif);
    background-repeat: repeat-x;
    position: relative;
    top: -30px;
    border-top: 4px solid #A1A2A7;
}

#content {
    padding: 1em 0em;
}

.rightSideBar {
    float: right;
    width: 25%;
}